//@import url('https://fonts.googleapis.com/css?family=Quicksand');

@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

// Update blue
$blue: #72d0eb;
// Add pink and its invert
$pink: #ffb3b3;
$pink-invert: #fff;

// Use the new pink as the primary color
//$primary: $pink;
//$primary-invert: $pink-invert;
// Use the existing orange as the danger color
//$danger: $orange;
// Use the new serif family
//$family-primary: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

// Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.
@import '~bulma/sass/utilities/derived-variables';
$addColors: (
        'twitter':($twitter, $twitter-invert),
        'linkedin': ($linkedin, $linkedin-invert),
        'github': ($github, $github-invert)
);
$colors: map-merge($colors, $addColors);

// Import Bulma
@import '~bulma/sass/utilities/_all';
@import '~bulma/sass/base/_all';

// Bulma Elements
//@import '~bulma/sass/elements/box';
@import '~bulma/sass/elements/button';
@import '~bulma/sass/elements/container';
@import '~bulma/sass/elements/content';
//@import '~bulma/sass/elements/form';
@import '~bulma/sass/elements/icon';
//@import '~bulma/sass/elements/image';
//@import '~bulma/sass/elements/notification';
//@import '~bulma/sass/elements/other';
//@import '~bulma/sass/elements/progress';
//@import '~bulma/sass/elements/table';
//@import '~bulma/sass/elements/tag';
@import '~bulma/sass/elements/title';

// Bulma Components
//@import '~bulma/sass/components/breadcrumb';
@import '~bulma/sass/components/card';
//@import '~bulma/sass/components/dropdown';
@import '~bulma/sass/components/level';
//@import '~bulma/sass/components/media';
//@import '~bulma/sass/components/menu';
//@import '~bulma/sass/components/message';
//@import '~bulma/sass/components/modal';
@import '~bulma/sass/components/navbar';
//@import '~bulma/sass/components/pagination';
//@import '~bulma/sass/components/panel';
//@import '~bulma/sass/components/tabs';

// Bulma Grid
@import '~bulma/sass/grid/_all';

// Bulma Layout
@import '~bulma/sass/layout/_all';

@import 'base';
@import 'typed-text';
